zerocouplage-core/zerocouplage-api/src/main/java/ressources/valSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- declaration des  éléments -->
	<xs:simpleType name="messageType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="fieldType">
		<xs:sequence>
			<xs:element name="message" type="messageType"/>
		</xs:sequence>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="constraint" use="required"/>
	</xs:complexType>
	<xs:complexType name="beanValidatorType">
		<xs:sequence>
			<xs:element name="field" type="fieldType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="class" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="bean-validatorsType">
		<xs:sequence>
			<xs:element name="global-message" type="messageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="bean-validator" type="beanValidatorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--  le fichier  zval -->
	<xs:element name="bean-validators">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bean-validators" type="bean-validatorsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
